@media (max-width: 400px) {
    body{
        /* background-color: red   ; */
    }
    .container{
        border: 2px solid red;
        grid-column: 1/4;
    }
    .task-bar{
width: 99%;
    }
.wave-group #myInput {
   
        width: 50vw;
        border: 2px solid red;
    }
    .tasks{
        width: 100%;
    }
    .add-btn{
        border: 2px solid blue;
    }
}