@media (max-width: 500px) {
    .container{
        grid-column: 1/4;
    }
    .task-bar{
width: 95%;
    }
.wave-group #myInput {
   
        width: 50vw;

    }
    .tasks{
        width: 100%;
    }
    .wave-group .bar{
        width: 50vw;
    }
}