*{
    font-family:  Helvetica, sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
}
body{
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 60px 93vh;
   
}
nav{
    grid-column: 1/3;
    grid-row: 1/2;
    border: 2px solid red;
}
.container{
    grid-row: 2/3;
    grid-column: 2/3;
    /* border: 2px solid blue; */
    width: 70vw;
  margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}
.task-bar{
    gap: 10px   ;
margin: 10px;
width: 60%;
/* height: 70vh; */
border: 2px solid rgb(117, 39, 39);
padding: 20px;
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;

}

.add{
   width: 46%;
    /* border: 2px solid  blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.add-btn{
    --hover-shadows: 16px 16px 33px #5d5e5f, 2px 2px 33px #303030;
  --accent: #5264AE;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.1em;
  background-color: transparent;
  cursor: pointer;
  color:#999;
  padding: 1em 2em;
  transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
  /* bo     x-shadow: 13px 13px 10px #504d4d, 3px 1px 30px #262626; */

   
}
.add-btn:hover{
    box-shadow: var(--hover-shadows);
}
.add-btn:active{
     box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
  background-color: var(--accent);
  transform: scale(0.95);
}
.tasks{
 text-decoration: none;
 list-style: none;
 border-radius: 5px;
 font-size: 18px;
 font-weight: bold;
 border :2px solid rgb(91, 177, 226);
 width: 80%;
 height: 80px;
 padding: 10px;
 margin: 10px;
 display: flex;
 justify-content: space-between;
 
}
.delbtn{
     height: 50px;
    width: 30%; 
}
aside{
    grid-column: 1/2;
    grid-row: 2/3;
    height: 93vh;
    width: 20vw;
    border: 2px solid black;
    position: absolute;
    top: 60px;
    left: 0;
}


/* From Uiverse.io by AbanoubMagdy1 */ 
.wave-group {
  position: relative;
}

.wave-group #myInput {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group #myInput:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group #myInput:focus ~ label .label-char,
.wave-group #myInput:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: #5264AE;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 300px;
}

.wave-group .bar:before,.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group #myInput:focus ~ .bar:before,
.wave-group #myInput:focus ~ .bar:after {
  width: 50%;
}

