*{
    font-family:  Helvetica, sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
}
body{
    /* display: flex; */
   
}
nav{
    width: 100vw;
    height: 60px;
    border: 2px solid red;
}
.container{
  margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.task-bar{
margin: 10px;
width: 60%;
/* height: 70vh; */
/* border: 2px solid rgb(117, 39, 39); */
padding: 20px;
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;

}
#myInput{
    height: 60px;
    width: 66%;
    font-size: 18px;
    padding: 10px;

}
.add{
   width: 46%;
    /* border: 2px solid  blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.add-btn{
    width: 30%;
    height: 60px;
   
}
.tasks{
 text-decoration: none;
 list-style: none;
 border-radius: 5px;
 font-size: 18px;
 font-weight: bold;
 border :2px solid rgb(91, 177, 226);
 width: 80%;
 height: 80px;
 padding: 10px;
 margin: 10px;
 display: flex;
 justify-content: space-between;
 
}
.delbtn{
     height: 50px;
    width: 30%; 
}